h1{
    color:rgb(255, 0, 0); 
 }
 
 .header{
     background-color: aqua;
     display: flex;
     justify-content: space-around  ;
 }
 .grid{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 .footer{
     display: flex;
     justify-content: flex-end;
 }
 body{
     
     background-image: url();
     background-repeat: no-repeat;
     border-style: ridge;
     border-color: red;
     border-width: 5px;
     margin: 50px ;
     padding: 50px;
     font-family: cursive;
     font-style: italic;
     font-weight: bold;
    color: springgreen;
    font-size: 20px;
 }
 